
__pycache__/
*.py[cod]
*.log
*.sqlite3
*.env
*.venv
*.mypy_cache
*.pytest_cache

.vscode/
.idea/
*.swp

frontend/node_modules/
frontend/.quasar/
frontend/dist/
frontend/.env
frontend/.env.*

backend/.venv/
backend/env/
backend/.env
backend/.env.*

.git
.gitignore

Dockerfile
docker-compose.yml

*.bak
*.tmp
*.DS_Store
Thumbs.db
db.sqlite3
backend/db.sqlite3
